
html, body{
/*background-:#B9B9B9;*/
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:80%;
:#234;
}

a:link, a:visited {
:#455;
text-decoration:none;
font:80% Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background-:inherit;
}
a:hover, a:active{
text-decoration:underline;
:#9AA;
font-weight:bold;
background-:inherit;
}

p{
font-family:Verdana, Arial, Helvetica, sans-serif;
:#234;
font-size:100%;
background-:inherit;
}

a img{border:none;}

img.left,img.center,img.right{padding:3px; border:none;}
img.left{float:left; margin:0 10px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 10px;}


#container{
/*border:2px solid #a0a0a0;*/
background-:#FFFFFF;
padding:0px;
margin:20px auto;
width:65%;
text-align:left;

}


#header{

background:url(header.jpg) no-repeat;
padding:10px;
margin:10px;
height:250px;
width:auto;

}
#header h1{
:#555;
font-family:"Courier New", Courier, monospace;
font-weight:bolder;
padding:5px 0px 0px 450px;
letter-spacing:1px;
font-size:250%;
background-:inherit;
}
#header h2{
:#555;
font-family:"Courier New", Courier, monospace;
font-weight:bold;
padding:0px 0px 0px 40px;
letter-spacing:1px;
font-size:167%;
background-:inherit;
}



#header #nav{
text-align:right;
padding-right:10px;
}
#header #nav a{
:#555;
padding-left:4px;
padding-right:4px;
width:auto;
font-family:Tahoma;
font-weight:bold;
font-size:12px;
text-decoration:none;
background-:inherit;
}
#header #nav a:hover, #header #nav a:active{:#fff; background-:#555; }
#header #nav a.selected{text-decoration:none;}


#footer{
clear:both;
text-align:center;
width:auto;
height:auto;
padding:3px;
margin:10px;
:#111;
}

#footer1{
text-align:right;
:#111;
}

#footer p{
font:100% Verdana, Arial, Helvetica, sans-serif;
:#9AA;
letter-spacing:-1px;
background-:inherit;
}
#footer a{
font:100% Verdana, Arial, Helvetica, sans-serif;
:#787879;
letter-spacing:-1px;
text-decoration:none;
background-:inherit;
}
#footer a:hover, #footer a:active{text-decoration:underline; :#024; background-:inherit;}


#content{
float:left;
width:95%;
height:auto;
padding:0px 4px 4px 4px;
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
margin-right:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
:#234;
background-:inherit;
text-align:justify;
}

#content h3{
font-family:"Courier New", Courier, monospace;
:#555;
background-:inherit;
font-weight:bold;
font-size:175%;
padding:0px 2px 3px 2px;
line-height:3px;
}
#content h4{
font-family:"Courier New", Courier, monospace;
:#567;
background-:inherit;
font-weight:bold;
font-size:130%;
padding:0px 2px 3px 2px;
line-height:3px;
}

#content p{
:#234;
background-:inherit;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:125% !important;
text-indent:6px;
padding-left:10px;
line-height:15px;
}

#content a{
:#567;
background-:inherit;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:103%;
font-weight:bold;
line-height:15px;
text-decoration:none;
}
#content a:hover, #content a:active{text-decoration:underline; :#012; background-:inherit;}

#content ul, #content ol{margin:0 5px 10px 20px;}
#content dl{margin:0 5px 10px 20px; font-size:115%;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}


.twoColumnLeft{
float:left;
width:44.5%;
height:auto;
padding:5px;
margin:5px;
}
.twoColumnRight{
float:right;
width:44.5%;
height:auto;
padding:5px;
margin:5px;
}


#sideMenu{
float:right;
text-align:right;
width:22%;
height:auto;
margin:10px;
padding:10px 20px 10px 10px;
border-left:thin dotted #555;
border-top:thin dotted #555;
border-bottom:thin dotted #555;
}

#sideMenu h3{
font-family:"Courier New", Courier, monospace;
:#567;
background-:inherit;
font-weight:bold;
font-size:175%;
padding:0px 2px 3px 2px;
line-height:1px;
letter-spacing:-1px;
}

#sideMenu a.menuLink{
:#568;
line-height:22px;
background-:inherit;
padding-bottom:2px; padding-right:2px;
border-bottom:#FFF dotted thin;
border-right:#FFF dotted thin;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:120%;
font-weight:normal;
text-decoration:none;
}
#sideMenu a.menuLink:hover, #sideMenu a.menuLink:active{
border-bottom:dotted thin #F60;
border-right:thin dotted #F60;
text-decoration:none;
}


#searchBox{
padding:5px;
border-bottom:thin #234 solid;
border-top:none;
border-left:none;
border-right:none;
background-:#FFF;
:#012;
font-family:Verdana, Arial, Helvetica, sans-serif;
width:50%;
text-align:center;
}
#searchButton{
border:thin #012 solid;
background-:#FAFAFA;
:#234;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:2px;
}


.important{:#F00; background-:#FFF; font-weight:bold;}
.bold{font-weight:bold;}
.big{font-size:160%;}
.small{font-size:75%;}
.underline{text-decoration:underline;}
.blink{text-decoration:blink;}
.hide{display:none;}
.center{text-align:center;}
.right{text-align:right;}
.clear{clear:both;}

#box{
background-:#FCFCFC;
:#234;
border:thin solid #012;
width:auto;
height:auto;
margin:3px;
padding:3px;
}